*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
prog_01_project/media/*
prog_01_project/static/*
prog_01_venv/
.DS_Store
.vscode
*.pid
*.db
*.rdb
*.sqlite3
*.sh
hello.py
*.com.sh.swp